<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>百姓贷</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <link rel="stylesheet" type="text/css" href="https://cgtzfiles.b0.upaiyun.com/style3/css/newMember20160309.css?v=1467105333" />
  <!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/echarts.min.js"></script>
<style>
	body{ color:#ffffff; background: #ffffff;}
	.am-header-default{ background: #ffffff;}
 .am-header-default .am-header-title a{ color:#455576;}
 .am-header-default .am-header-icon{ color: #455576;}
 .am-list-static.am-list-border>li{ padding:0.5rem; }
 a{ color: #455576;}
 .am-list>li{ padding: 0 5%; border: none; border-bottom:1px solid #ebebeb; }
 .am-divider-default{}
 .am-list>li>a{ display: inline-block;}
 .am-header .am-header-left{left: 0; left: 6%;}
 .am-list>li{ padding: 0 6%;}
</style>
</head>
<body>
       <header data-am-widget="header"
          class="am-header am-header-default am-margin-0">
      <div class="am-header-left am-header-nav">
          <a href="#left-link" class="">

                <i class="am-header-icon am-icon-angle-left" style="font-size: 28px;"></i>
          </a>
      </div>

      <h1 class="am-header-title">
          <a href="#title-link" class="">
            体验金
          </a>
      </h1>

      <div class="am-header-right am-header-nav">
           <a href="#right-link" class="">
                体验金记录
          </a>
      </div>
  </header>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-margin-0 am-padding-0" />
    <style>
    	    ul li span{ font-size: 1.5rem; color: #455576;}
    </style>
  <ul class="am-list m-widget-list am-padding-top-0 am-margin-top-0">
  	<li class="am-margin-bottom-0">
  		<a href="/widgets/accordion" data-rel="accordion">
  			<span class="widget-name">可用体验金</span></a>
  			 <i class="am-icon-angle-right am-fr" style="color: #c6c5c5; font-size: 25px; margin-top: 2px;"></i>
  			<span class=" am-fr" style="display: inline-block; line-height: 18px; padding-top: 5px; color: #455576;  margin-top: 9px; font-weight: bold;">10000.00元</span>
  	</li>
  			 <li class="am-margin-bottom-0">
  		<a href="/widgets/accordion" data-rel="accordion">
  			<span class="widget-name">累计获息</span></a>
  			  <i class="am-icon-angle-right am-fr" style="color: #c6c5c5; font-size: 25px; margin-top: 2px;"></i>
  			<span class=" am-fr" style="display: inline-block; line-height: 18px; padding-top: 11px; color: #455576;  margin-top: 3px; font-weight: bold;">2.38元</span>
  	</li>
  </ul>
  <div class="experiencegold">
  	   <h3 class="am-text-center">体验金简介</h3>
  	   <ul class="am-margin-0 am-padding-0">
  	   	   <li>
  	   	   	   <h4 class="am-padding-bottom-0 am-margin-bottom-0"><i class="i_1"></i>什么是体验金？</h4>
  	   	   	   <p class="am-padding-top-0 am-padding-bottom-sm">体验金是由百姓贷提供给用户的专门用于体验标投资的理财资金。</p>
  	   	   </li>
  	   	   <li>
  	   	   	   <h4 class="am-padding-bottom-0 am-margin-bottom-0"><i class="i_2"></i>它能做什么？</h4>
  	   	   	   <p class="am-padding-top-0 am-padding-bottom-sm">体验金用来投资体验标，体验下投资的过程。
投资成功后，当天满标并计息；到期后，体验金收回，但用户可享有体验金产生的利息(可提现哦)。
体验金暂时没有期限限制，但每天会限制体验标的总金额，大家要抓紧抢标哦！</p>
  	   	   </li>
  	   </ul>
  	 
  </div>
</body>
</html>
