<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>百姓贷</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="https://cgtzfiles.b0.upaiyun.com/style3/css/newMember20160309.css?v=1467105333" />
  <!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<style>
	body{ background:#ffffff;}
	[class*=am-u-]{ }
	.am-navbar-default .am-navbar-nav{ background: #ffffff; border-top:#455576 solid 2px;}
	.am-navbar-default .am-navbar-nav a{ color: #67728b;}
	.am-divider-default{border-top: 1px solid #ebebeb;}
	.am-header-default .am-header-title a{ color: #ffffff;}

	.am-header-default{ background: #ffffff; border-bottom: #d8d8d8 solid 1px;}
 .am-header-default .am-header-title a{ color:#455576;}
 .am-header-default .am-header-icon{ color: #455576;}
.am-header-default .am-header-nav>a{ color: #455576; font-size: 1.3rem;}
	.am-accordion-basic .am-accordion-title:before{ color: #edc54b;}
	.am-accordion-basic .am-active .am-accordion-title{ color: #455576; background: #ffffff;}
	dl{ background: #ffffff; padding: 0 2%; border-radius:8px; }
	dl span{ color: #b5b5b5;}
	.am-accordion-item{ margin-bottom: 21px;}
	.am-accordion-basic .am-accordion-title{padding:.8rem 0; color: #455576; }
	.am-accordion-basic .am-accordion-content{ color: #455576;}
	dl{ padding: 0 4%;}
	.am-panel-default>.am-panel-hd{background: #ffffff;}
	.am-panel-group .am-panel-hd+.am-panel-collapse .am-panel-bd{border-top:none;}
	.am-panel-group .am-panel-hd+.am-panel-collapse .am-panel-bd em{ display: inline-block; font-weight: normal; font-style: normal;}
	.am-panel{border:none;}
	.am-panel-group{ padding: 0 3%; }
	
	.am-panel-title { color: #455576;}
	
		.am-panel-title span,.am-panel-group .am-panel-hd+.am-panel-collapse .am-panel-bd em{ color: #ffffff; width: 20px; height: 20px; background: #edc54b; border-radius: 8px; text-align: center; line-height: 20px; padding: 0; margin: 0 5px 0 0;}
		.am-panel-hd  h4{ font-weight: normal; padding: 0; margin: 0; height: 25px; line-height: 25px; }	
	.am-panel-title em,.am-panel-title i{ color: #edc54b; font-size: 1.4rem; display: inline-block; vertical-align:top; margin-right: 5px; transition:0.5s;}
	.am-panel-bd{  color: #455576; font-size: 1.4rem; padding: 2% 4% 3%;}
	
	.am-panel-hd { padding:  3% 0;}
.am-panel-group .am-panel,.am-panel-default>.am-panel-hd{}
.am-panel-group .am-panel{ /*margin-bottom: 15px;*/ border-bottom: 1px solid #ebebeb;}

.am-panel-title em{color: #edc54b; font-size: 1.4rem;
    display: inline-block; vertical-align: top;margin-right: 5px;
    transition: 0.5s; float: right;}
    .am-panel-group .am-panel+.am-panel{ margin-top: 0;}
    .am-panel-group{ padding: 0 6%;}
    .am-panel-hd h4{ font-size: 1.5rem;}
    .am-panel-hd h4 strong{ background: red; width: 8px; height: 8px; border-radius: 50%; display: inline-block; margin-right: 7px; vertical-align:top; margin-top: 9px;}
    .am-panel-bd{ padding: 0 0 1.25rem 0; line-height: 26px;}
    .am-panel-group .am-panel-hd+.am-panel-collapse .am-panel-bd em{ background:#fb6660;}
</style>
</head>
<body>
	  <header data-am-widget="header"
          class="am-header am-header-default am-margin-bottom-sm">
      <div class="am-header-left am-header-nav">
         <a href="#left-link" class="">

                <i class="am-header-icon am-icon-angle-left" style="font-size: 28px;"></i>
          </a>
      </div>

      <h1 class="am-header-title">
          <a href="#title-link" class="">
            帮助中心
          </a>
      </h1>

      <div class="am-header-right am-header-nav">
          <!--<a href="#right-link" class="">

                <i class="am-header-icon am-icon-cog"></i>
          </a>-->
      </div>
  </header>
  <div class="helpcenter">
  	   
  	   <div data-am-widget="tabs" class="am-tabs am-tabs-d2" >
      <ul class="am-tabs-nav am-cf">
          <li  class="am-active"><a class="li_first" href="[data-tab-panel-0]">会员账户</a></li>
          <li class=""><a href="[data-tab-panel-1]">充值与提现</a></li>
          <li class=""><a href="[data-tab-panel-2]">资产与奖励</a></li>
          <li class="li_last"><a class=" li_last" href="[data-tab-panel-3]">投资与借款</a></li>
         
      </ul>
      <div class="am-tabs-bd">
          <div data-tab-panel-0 class="am-tab-panel am-active">
               <div class="am-panel-group accordion" id="">
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
        <em class="icon iconfont icon-youjiantou"></em>如何修改登录和交易密码
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-1" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        <em>A</em>通过点击“用户中心”→“个人资料”中修改账户的登录密码及交易密码。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
         <em class="icon iconfont icon-youjiantou"></em>如何找回登录和交易密码
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-2" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        <em>A</em>1、如果您是遗忘了登录密码，可以在登录界面点击“忘记密码”通过您的注册手机号来重新设置登录密码。<br>2、如果您是遗忘了交易密码，可以点击“用户中心”→“个人资料”→“交易密码”中的 “忘记交易密码”，同样通过您的注册手机号来重新设置平台交易密码。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>如何进行身份认证
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>进入用户中心首页，点击实名认证标志进入认证页面，填写个人信息进行验证。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>为什么实名认证无法通过
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>1、请确保您提供的姓名和身份证号与身份证上的一致。
					<br/>
					2、请确认您是否曾经注册过百姓贷账号，并进行了身份认证。若不确定，请在客服中心留言或者拨打客服电话400-968-1688（工作日9:00-18:00）。
					<br/>
					3、您的实名不能通过，可能有以下几点原因：
					1）名字中带有繁体字
					2）曾经改过名字
					3）军人转业、复员换的身份证
					4）做过户籍变动。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>如何进行企业用户认证
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>企业用户需要提供企业三证照片，请事先按要求准备，以提高操作效率。企业用户需要提供企业三证（营业执照、组织代码证和税务登记证）照片，请事先按要求准备，以提高操作效率。
					本站对于证明性资料只接收原件拍照上传，必须保留exif信息，不得做除调整大小之外的任何修改。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>如何保证隐私和资料安全
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>平台非常重视用户的隐私和数据安全，我们采取国际标准的SSL安全加密技术保障数据传输安全。
					<br/>
					保护用户的隐私和数据安全是我们最重要的责任之一，平台会严格按照隐私条款保护包括借入者和借出者在内的全部注册用户的信息。
					<br/>
					前台显示的只是账户名等虚拟的信息，只要遵守借款协议，按时还款，就不会曝光资料，绝对安全。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>平台的资金是否安全
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>用户充值和提现的资金的收付行为全部在具有央行颁发支付牌照的知名第三方支付平台（先锋支付、富友支付）以及银行体系内操作，相应的资金亦实际存放在这些机构的银行帐户内。
      </div>
    </div>
  </div>
</div>
               
          </div>
          <div data-tab-panel-1 class="am-tab-panel ">
           <div class="am-panel-group  accordion" id="">
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
        <em class="icon iconfont icon-youjiantou"></em>充值细则
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-1" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        <em>A</em>步骤1：注册百姓贷平台账号，并且完成实名认证与手机认证。<br/>
					步骤2：登录百姓贷账户，点击“首页导航”——“我的账户”——“充值”。<br/>
					步骤3：输入充值金额，选择快捷支付或网银支付，点击“充值”，跳入第三方支付页面完成充值。<
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
         <em class="icon iconfont icon-youjiantou"></em>银行已扣款，账户余额未显示
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-2" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        <em>A</em>1、银行已扣款，但是可能由于银行系统原因，资金还未同步到第三方支付平台。此种情况，资金同步完成后余额即可变更。若银行未能把钱同步到第三方支付平台，银行会自动退款到充值银行卡。
					<br/>
					2、第三方支付平台判断您的网络存在钓鱼风险，自动关闭交易，您的资金会自动退回您的充值银行卡。 <br/>
					3、请联系在线客服人员提供您的注册手机号码、充值金额、充值时间、充值订单号，我方为您查询，并告知您具体的结果。

      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>快捷支付支持的银行
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em class="">A</em><p class="news_con">快捷支付只支持借记卡，支持银行如下： <br/>
					
					<div class="am-g">
						  <div style="width: 25%; float: left;">序号</div>
						  <div  style="width: 25%; float: left;">银行名称</div>
						  <div  style="width: 25%; float: left;">单笔限额</div>
						  <div  style="width: 25%; float: left;">单日限额</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">1</div>
						  <div class="am-u-sm-3">中国银行</div>
						  <div class="am-u-sm-3">5万元</div>
						  <div class="am-u-sm-3">5万元</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">2</div>
						  <div class="am-u-sm-3">农业银行</div>
						  <div class="am-u-sm-3">2000元</div>
						  <div class="am-u-sm-3">1万元</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">3</div>
						  <div class="am-u-sm-3">工商银行</div>
						  <div class="am-u-sm-3">5万元</div>
						  <div class="am-u-sm-3">5万元</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">4</div>
						  <div class="am-u-sm-3">建设银行</div>
						  <div class="am-u-sm-3">1万元</div>
						  <div class="am-u-sm-3">1万元</div>
					</div>
				
					<div class="am-g">
						  <div class="am-u-sm-3">5</div>
						  <div class="am-u-sm-3">交通银行</div>
						  <div class="am-u-sm-3">5万元</div>
						  <div class="am-u-sm-3">5万元</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">6</div>
						  <div class="am-u-sm-3">邮政储蓄</div>
						  <div class="am-u-sm-3">5000元</div>
						  <div class="am-u-sm-3">5000元</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">7</div>
						  <div class="am-u-sm-3">兴业银行</div>
						  <div class="am-u-sm-3">5万元</div>
						  <div class="am-u-sm-3">5万元</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">8</div>
						  <div class="am-u-sm-3">平安银行</div>
						  <div class="am-u-sm-3">5万元</div>
						  <div class="am-u-sm-3">5万元</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">9</div>
						  <div class="am-u-sm-3">中信银行</div>
						  <div class="am-u-sm-3">5万元</div>
						  <div class="am-u-sm-3">5万元</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">10</div>
						  <div class="am-u-sm-3">光大银行</div>
						  <div class="am-u-sm-3">5万元</div>
						  <div class="am-u-sm-3">5万元</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">11</div>
						  <div class="am-u-sm-3">浦发银行</div>
						  <div class="am-u-sm-3">5万元</div>
						  <div class="am-u-sm-3">5万元</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">12</div>
						  <div class="am-u-sm-3">上海银行</div>
						  <div class="am-u-sm-3">5万元</div>
						  <div class="am-u-sm-3">5万元</div>
					</div>
					<div class="am-g">
						  <div class="am-u-sm-3">13</div>
						  <div class="am-u-sm-3">民生银行</div>
						  <div class="am-u-sm-3">5万元</div>
						  <div class="am-u-sm-3">5万元</div>
					</div>
				</p>
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>网银支付支持的银行及限额
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em class="">A</em><p class="news_con" id="on_bank">
					<div class="am-g">
						  <div style="width: 10%; float: left;">序号</div>
						  <div style="width: 20%;  float: left;">银行名称</div>
						  <div style="width: 20%;  float: left;">支付方式</div>
						  <div  style="width: 20%;  float: left;">单笔限额</div>
						  <div  style="width: 20%;  float: left;">单日限额</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">1</div>
						  <div style="width: 20%;  float: left;">工商银行</div>
						  <div style="width: 30%;  float: left;">u盾</div>
						  <div  style="width: 20%;  float: left;">600万元</div>
						  <div  style="width: 20%;  float: left;">10亿元</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">2</div>
						  <div style="width: 20%;  float: left;">招商银行</div>
						  <div style="width: 30%;  float: left;">专业版</div>
						  <div  style="width: 20%;  float: left;">600万</div>
						  <div  style="width: 20%;  float: left;">10亿元</div>
					</div>
				
					<div class="am-g">
						  <div style="width: 10%; float: left;">3</div>
						  <div style="width: 20%;  float: left;">农业银行</div>
						  <div style="width: 30%;  float: left;">K 码支付</div>
						  <div  style="width: 20%;  float: left;">1000元</div>
						  <div  style="width: 20%;  float: left;">100万</div>
					</div>
					
					<div class="am-g">
						  <div style="width: 10%; float: left;">4</div>
						  <div style="width: 20%;  float: left;">建设银行</div>
						  <div style="width: 30%;  float: left;">账户支付<br>U盾</div>
						  <div  style="width: 20%;  float: left;">5000元<br>5000元</div>
						  <div  style="width: 20%;  float: left;">50万<br>50万</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">5</div>
						  <div style="width: 20%;  float: left;">中国银行</div>
						  <div style="width: 30%;  float: left;">手机动态密码<br>USBKey证书认证、令牌+动态口令</div>
						  <div  style="width: 20%;  float: left;">5000元<br>5000元</div>
						  <div  style="width: 20%;  float: left;">50万<br>20万</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">6</div>
						  <div style="width: 20%;  float: left;">交通银行</div>
						  <div style="width: 30%;  float: left;">手机动态密码<br>USBKey证书认证</div>
						  <div  style="width: 20%;  float: left;">5万元<br>5万元</div>
						  <div  style="width: 20%;  float: left;">100万<br>100万</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">7</div>
						  <div style="width: 20%;  float: left;">民生银行</div>
						  <div style="width: 30%;  float: left;">U 宝</div>
						  <div  style="width: 20%;  float: left;">50万</div>
						  <div  style="width: 20%;  float: left;">50万</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">8</div>
						  <div style="width: 20%;  float: left;">中信银行</div>
						  <div style="width: 30%;  float: left;">手机动态密码</div>
						  <div  style="width: 20%;  float: left;">1000</div>
						  <div  style="width: 20%;  float: left;">1000</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">9</div>
						  <div style="width: 20%;  float: left;">光大银行</div>
						  <div style="width: 30%;  float: left;">手机动态密码<br>阳光令牌</div>
						  <div  style="width: 20%;  float: left;">2万元<br>2万元</div>
						  <div  style="width: 20%;  float: left;">50万<br>50万</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">10</div>
						  <div style="width: 20%;  float: left;">兴业银行</div>
						  <div style="width: 30%;  float: left;">手机动态密码<br>U盾</div>
						  <div  style="width: 20%;  float: left;">5000元<br>5000元</div>
						  <div  style="width: 20%;  float: left;">1万元<br>自行设置</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">11</div>
						  <div style="width: 20%;  float: left;">邮储银行</div>
						  <div style="width: 30%;  float: left;">手机动态密码</div>
						  <div  style="width: 20%;  float: left;">200万元</div>
						  <div  style="width: 20%;  float: left;">200万元</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">12</div>
						  <div style="width: 20%;  float: left;">上海银行</div>
						  <div style="width: 30%;  float: left;">易签宝</div>
						  <div  style="width: 20%;  float: left;">50万元</div>
						  <div  style="width: 20%;  float: left;">50万元</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">13</div>
						  <div style="width: 20%;  float: left;">华夏银行</div>
						  <div style="width: 30%;  float: left;">手机动态密码</div>
						  <div  style="width: 20%;  float: left;">500元</div>
						  <div  style="width: 20%;  float: left;">500元</div>
					</div>
				
					<div class="am-g">
						  <div style="width: 10%; float: left;">14</div>
						  <div style="width: 20%;  float: left;">广发银行</div>
						  <div style="width: 30%;  float: left;">手机动态密码</div>
						  <div  style="width: 20%;  float: left;">3000元</div>
						  <div  style="width: 20%;  float: left;">3000元</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">15</div>
						  <div style="width: 20%;  float: left;">平安银行</div>
						  <div style="width: 30%;  float: left;"></div>
						  <div  style="width: 20%;  float: left;">5万元</div>
						  <div  style="width: 20%;  float: left;">5万元</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">16</div>
						  <div style="width: 20%;  float: left;">兴业银行</div>
						  <div style="width: 30%;  float: left;"></div>
						  <div  style="width: 20%;  float: left;">1万元</div>
						  <div  style="width: 20%;  float: left;">无限额</div>
					</div>
					<div class="am-g">
						  <div style="width: 10%; float: left;">17</div>
						  <div style="width: 20%;  float: left;">北京银行</div>
						  <div style="width: 30%;  float: left;">动态密码版<br>证书版</div>
						  <div  style="width: 20%;  float: left;">1000元<br>5000元</div>
						  <div  style="width: 20%;  float: left;">100万元<br>100万元</div>
					</div>
				</p>
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>提现细则
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>步骤1：注册百姓贷平台账号，并且完成实名认证与手机认证，同时绑定银行卡且必须同卡进出，如要修改提现卡号，请联系客服。 <br/>
					步骤2：登录百姓贷账户，点击“首页导航”——“我的账户”——“提现”。 <br/>
					步骤3：输入提现金额、平台交易密码、验证码，点击“确认提现”，完成提现。 <br/>
					（1）提现时间 :
					7*24小时即时提现<br/>
					（2）提现费用:
					单笔提现金额允许范围为2元以上-50万元以下，每笔提现平台收取2元/笔提现费，同一账户每天提现总额无限制。提现银行账户需与实名认证身份一致。
      </div>
    </div>
  </div>
</div>
          </div>
           <div data-tab-panel-2 class="am-tab-panel ">
           
<div class="am-panel-group  accordion" id="">
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
        <em class="icon iconfont icon-youjiantou"></em>投资抵用红包使用的规则
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-1" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        <em>A</em>投资红包用于在投资时抵扣投资金额。每笔投资只能使用一个红包。<br/>
					除指定情况下，红包使用比例为年化投资金额的1%。<br/>
					如投资12月期限的投资计划10,000元，即年化投资额为10,000元，最高可使用100元抵用券，实际只需支付9,900元。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
         <em class="icon iconfont icon-youjiantou"></em>积分是什么，积分商城是什么
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-2" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        <em>A</em>积分服务是百姓贷平台回馈广大投资人的增值服务之一。 <br/>
					积分达到一定数量，可兑换各类实物奖励。积分获取单位最小为1。 <br/>
					积分商城是平台基于积分回馈计划，面向所有用户提供的统一积分服务和消费应用。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>如何获取积分
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>1、积分获取的比例为投资金额的0.02%，即投资5000元即可获得1点积分。投资后即刻到达积分账户。 <br/>
					例：当投资金额为100万时，相应的积分为200点。 <br/>
					2、其他活动获得积分，具体查看“用户中心——致富之路——其他奖励”查看。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>积分的时效性
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>每一年的12月31日23点59分，系统会清理会员上一年所获得的积分。 <br/>
					例如：系统于2015年12月31日23点59分清理用户在2014年1月1日 - 2014年12月31日所获得的所有积分。
      </div>
    </div>
  </div>
</div>

           
          </div>
           <div data-tab-panel-3 class="am-tab-panel ">

<div class="am-panel-group  accordion" id="">
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
        <em class="icon iconfont icon-youjiantou"></em>投标前需要注意的事项
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-1" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        <em>A</em>1、投标前认真阅读该笔借款的详细信息（包括借款金额，利息率，借款期限、借款者信用等级等），以确定您所要投的标符合您的风险承受能力和所要求的投资回报率。 <br/>
					2、投标前应知道若您所投标的借款人发生违约，违约损失由投资该标的所有理财人共同承担。 <br/>
					3、投标前请核实自己将要理财的金额，确认无误后再进行操作。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
         <em class="icon iconfont icon-youjiantou"></em>如何查看投标中和投标成功的记录
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-2" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
        <em>A</em>投标后要等待对方满标，满标后3个工作日会有审核结果。<br/>
					已经投标并审核通过的：依次“我的帐户”—“致富之路”—“投资项目”，此页面可分别查看待收款、收款中款项、已还清款项。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>投标后是否可以撤回
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>投资者一旦投标成功后，投标资金不可以撤回。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>投标时为什么资金会冻结
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>借出者对借款列表进行投标后，在此列表没有结束之前，这部分金额将被锁定。 <br/>
					如果列表成功，这部分金额将转给借入者；如果列表没有成功，这部分金额将立刻返还给借出者可以进行其他投标。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>投标失败的原因
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>借出者对于投标失败的原因，主要是因为：借入者借款列表被审核失败。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>等额本息还款法（每月还款）是什么意思
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>1、定义：等额本息还款法是每月以相等的还本付息数额偿还贷款本息。即借入者每月按相等的金额偿还贷款本息，其中每月贷款利息按月初剩余贷款本金计算并逐月结清。 <br/>
					2、由于每月的还款额相等，因此，在贷款初期每月的还款中，剔除按月结清的利息后，所还的贷款本金就较少；而在贷款后期因贷款本金不断减少、每月的还款额中贷款利息也不断减少，每月所还的贷款本金就较多。
					<br/>
					3、其计算公式如下： <br/>
					还款总金额=贷款本金×[月利率×（1+月利率）^还款月数]<br/>
					每月还款额=还款总金额÷[（1+月利率）^还款月数—1]
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>如何还款
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>先充值到平台账户上，进入“用户中心”——“致富之路”——“借款管理”——“还款明细”点击“我要还款”，进行还款。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>流标后是否还能发布借款
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>流标后可以根据系统提示的时间再次发布借款。
      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>为什么我不能发布借款
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>1、资料未填写完整。 <br/>
					2、借款额度不够：您只能发布在自己借款额度内的借款列表，若想发布更大额的借款可以通过客服中心-额度相关提交问题，工作人员会根据您的实际情况提高额度。

      </div>
    </div>
  </div>
  <div class="am-panel am-panel-default">
    <div class="am-panel-hd">
      <h4 class="am-panel-title">
      	 <em class="icon iconfont icon-youjiantou"></em>如何发布借款列表
        <span class="am-fl">Q</span>
      </h4>
    </div>
    <div id="do-not-say-3" class="am-panel-collapse am-collapse">
      <div class="am-panel-bd">
       <em>A</em>发布借款列表的流程： <br/>
					“我要借款”—“选择要申请的标种”-填写“基本资料”-“申请额度”-“上传认证材料”，额度审批通过，即可开始发布借款。

      </div>
    </div>
  </div>
</div>
           
          </div>
          
      </div>
  </div>
  
  
  </div>
 
<script type="text/javascript">
$(function(){
	$('.am-panel-title i').hide();
	/*$('.am-panel-hd').click(function(){
		$('.am-panel-title em').hide();
		$('.am-panel-title i').show();
	});*/
	
	//点击效果
	$('.accordion').find('.am-panel-hd').click(function(){
		
		if($(this).parent().find('.am-panel-collapse').is(':hidden')){
			
			 $(this).parent().find('.am-panel-collapse').slideDown();
			 $(this).parent().siblings().find('.am-panel-collapse').slideUp();
			 $(this).find('em').css({'transform':'rotate(90deg)'});
			 $(this).parent().siblings().find('.am-panel-hd').find('em').css({'transform':'rotate(0deg)'});
		
		}else{
			
			 $(this).parent().find('.am-panel-collapse').slideUp();
			 $(this).find('em').css({'transform':'rotate(0deg)'});
		
		}
		
	});
});
</script>


</body>
</html>
