<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>百姓贷</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
   <link rel="stylesheet" href="assets/font/iconfont.css">
     <link rel="stylesheet" href="assets/css/lanrenzhijia.css">

  <!--[if (gte IE 9)|!(IE)]><!-->
<!--<script src="assets/js/jquery.min.js"></script>-->
<!--<![endif]-->
<!--<script src="assets/js/jquery.imgbox.pack.js"></script>-->
<style>
	body{ background: #ffffff;}
	.am-header-default{ background: #ffffff;}
 .am-header-default .am-header-title a{ color:#455576;}
 .am-header-default .am-header-icon{ color: #455576;}
.am-header-default .am-header-nav>a{ color: #455576; font-size: 1.3rem;}
.am-g{ background: #ffffff; color: #455576; font-size: 1.5rem; padding: 0 2%;}
 .am-header-default{ height: 56px; line-height:56px;}
  body, button, input, select, textarea{color: #455576; font-size: 1.4rem;}
  .about .con3 .pic img{ width: 100%; height: 120px;}
  
  
 
</style>
</head>
<body>
       <header data-am-widget="header"
          class="am-header am-header-default am-margin-0">
      <div class="am-header-left am-header-nav">
          <a href="#left-link" class="">

                <i class="am-header-icon am-icon-angle-left" style="font-size: 28px;"></i>
          </a>
      </div>

      <h1 class="am-header-title">
          <a href="#title-link" class="">
            关于公司
          </a>
      </h1>

      <div class="am-header-right am-header-nav">
        
      </div>
  </header>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-margin-0 am-padding-0" />
   <div class="about">
   	    <div class="con1">
   	    	<h3><em></em>公司简介<span>company profile</span></h3>
   	    	<p style="width: 55%;" class="am-fl">上海晋玺金融信息服务有限公司，是由一批从事金融行业十多年，具有丰富金融从业经验的团队管理的普惠金融企业。公司专注于上海、宁波等地的中小企业及个人贷款业务，拥有多家线下服务网点。</p>
   	    	<div style="width: 45%;" class="pic am-fr"></div>
   	    	<p style="clear: both;">百姓贷（www.baixingdai.com）是上海晋玺金融信息服务有限公司推出的互联网金融理财平台。旨在为有投融资需求的小微企业主及个人建立起高效、透明、安全、便捷的互联网金融服务。不仅为社会闲散资金提供一个安全稳定的投资渠道，也能够为小微企业解决融资难融资贵的问题。</p>
   	    </div>
   	    <div class="con2">
   	    	<h4>总公司地址：</h4>
   	    	<p>上海市静安区威海路228号招商局广场南楼2601室<br>
400-968-1688（工作日9：00 - 18：00）</p>
            <h4>大宁体验店地址：</h4>
   	    	<p>大宁体验店地址：<br>
021-56680569（每日9：00 - 17：30）</p>
            <h4>六里体验店地址：</h4>
   	    	<p>上海市浦东新区昌里东路817号（近浦三路）<br>
上海市浦东新区昌里东路817号（近浦三路）</p>
            <h4>金桥体验店地址：</h4>
   	    	<p>上海市浦东新区利津路677号（近张杨北路路口）<br>
021-58326117（每日9：00 - 17：30）</p>
            <h4>共江体验店地址：</h4>
   	    	<p>上海市宝山区共江路1127号（近共和新路）<br>
021-56150212（每日9：00 - 17：30）</p>
   	    </div>
   	    <div class="con3">
   	    	<h3><em></em>公司证照<span>company licenses</span></h3>
              <div id="content">
               
	           <li>
                <div class="div_s">
           <a class="example2" href="assets/i/images/pic80.jpg"><img src="assets/i/images/pic80.jpg" /></a>
               <p>营业执照</p>
               </div>
               <div class="div_s" style="float:right">
           <a class="example2" href="assets/i/images/pic81.png"><img src="assets/i/images/pic81.png" /></a>
               <p>开户许可证</p>
               </div>
               </li>
                <li >
               <div class="div_s" style="margin-bottom: 13px;">
           <a class="example2" href="assets/i/images/pic82.jpg"><img src="assets/i/images/pic82.jpg" /></a>
               <p>诚信网站证书</p>
               </div>
               <div class="div_s" style="float:right">
           <a class="example2" href="assets/i/images/pic83.jpg"><img src="assets/i/images/pic83.jpg" /></a>
               <p>金融网络证书</p>
               </div>
               </li>
	
</div>
   	    </div>
   	    <div class="con4" style="clear: both;">
   	    	 <h3><em></em>联系我们<span>contact us</span></h3>
   	    	 <p><strong>客服邮箱：</strong>baixingdai@vip.163.com</p>
   	    	 <p><strong>QQ交流群：</strong>377505550</p>
   	    	 <p><strong>客服电话：</strong>400-968-1688（工作日9:00-18:00）</p>
   	    </div>
   </div>
 <script src="assets/js/CCCCC/js/jquery.min.js"></script>
<script src="assets/js/CCCCC/js/jquery.imgbox.pack.js"></script>
 <script>
$(function(){
	
	$(".example2").imgbox({
		'speedIn'		: 0,
		'speedOut'		: 0,
		'alignment'		: 'center',
		'overlayShow'	: true,
		'allowMultiple'	: false
	});
	
});
</script>
  
</body>
</html>
