<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>百姓贷</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
   <link rel="stylesheet" href="assets/font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="https://cgtzfiles.b0.upaiyun.com/style3/css/newMember20160309.css?v=1467105333" />
  <!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/echarts.min.js"></script>
<style>
	body{ color:#ffffff; background: #f0f0f0;}
	.am-header-default{ background: #ffffff;}
 .am-header-default .am-header-title a{ color:#455576;}
 .am-header-default .am-header-icon{ color: #455576;}
.am-header-default .am-header-nav>a{ color: #455576; font-size: 1.3rem;}
.am-g{ background: #ffffff; color: #455576; font-size: 1.5rem; padding: 0 2%;}
 .am-header-default{ height: 56px; line-height:56px;}
 body, button, input, select, textarea{color: #455576; font-size: 1.4rem;}


</style>
</head>
<body>
       <header data-am-widget="header"
          class="am-header am-header-default ">
      <div class="am-header-left am-header-nav ">
          <a href="#left-link" >

                <i class="am-header-icon am-icon-angle-left" style="font-size: 28px; float:left;"></i>
          </a>
      </div>

      <h1 class="am-header-title">
          <a href="#title-link" class="">
            绑定银行卡
          </a>
      </h1>

      <div class="am-header-right am-header-nav">
          
      </div>
  </header>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-margin-0 am-padding-0" />
    <div class="rechargerecord bindbankcard_zc">
		<ul class="am-padding-0 am-margin-0">
			<li class="">
				<div class="div_l am-fl"><em class="icon iconfont icon-gongshangyinhang" style="color:#d71318; font-size: 30px;"></em></div>
				<div class="div_r am-fr"><p>工商银行<br><span>单笔五万/当日五万</span></p></div>
			</li>
			<li class="">
				<div class="div_l am-fl"><em class="icon iconfont icon-CBC" style="color:#043985; font-size: 30px;"></em></div>
				<div class="div_r am-fr"><p>建设银行<br><span>单笔五万/当日五万</span></p></div>
			</li>
			<li class="">
				<div class="div_l am-fl"><em class="icon iconfont icon-zhongguoyinhang" style="color:#af1f23; font-size: 30px;"></em></div>
				<div class="div_r am-fr"><p>中国银行<br><span>单笔五万/当日五万</span></p></div>
			</li>
			<li class="">
				<div class="div_l am-fl"><em class="icon iconfont icon-jiaotongyinhang" style="color:#1c2974; font-size: 30px;"></em></div>
				<div class="div_r am-fr"><p>交通银行<br><span>单笔五万/当日五万</span></p></div>
			</li>
			<li class="">
				<div class="div_l am-fl"><em class="icon iconfont icon-xingyeyinhang" style="color:#063e8d; font-size: 30px;"></em></div>
				<div class="div_r am-fr"><p>兴业银行<br><span>单笔五万/当日五万</span></p></div>
			</li>
			<li class="">
				<div class="div_l am-fl"><em class="icon iconfont icon-zhongxinyinhang" style="color:#c9151d; font-size: 30px;"></em></div>
				<div class="div_r am-fr"><p>中信银行<br><span>单笔五万/当日五万</span></p></div>
			</li>
			<li class="">
				<div class="div_l am-fl"><em class="icon iconfont icon-guangdayinhang" style="color:#49266b; font-size: 30px;"></em></div>
				<div class="div_r am-fr"><p>光大银行<br><span>单笔五万/当日五万</span></p></div>
			</li>
			<li class="">
				<div class="div_l am-fl"><em class="icon iconfont icon-pinganyinhang" style="color:#e16811; font-size: 30px;"></em></div>
				<div class="div_r am-fr"><p>平安银行<br><span>单笔五万/当日五万</span></p></div>
			</li>
			<li class="">
				<div class="div_l am-fl"><em class="icon iconfont icon-minshengyinhang" style="color:#59a173; font-size: 30px;"></em></div>
				<div class="div_r am-fr"><p>民生银行<br><span>单笔五万/当日五万</span></p></div>
			</li>
			
		</ul>
		
</div>
</body>
</html>
