<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>百姓贷</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->
   <link rel="stylesheet" type="text/css" href="assets/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">	
  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
   <link rel="stylesheet" href="assets/font/iconfont.css">


  <!--[if (gte IE 9)|!(IE)]><!-->
<!--<script src="assets/js/jquery.min.js"></script>-->
<!--<![endif]-->
<!--<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/echarts.min.js"></script>-->
<style>
	body{ background: #ffffff;}
	.am-header-default{ background: #ffffff;}
 .am-header-default .am-header-title a{ color:#455576;}
 .am-header-default .am-header-icon{ color: #455576;}
.am-header-default .am-header-nav>a{ color: #455576; font-size: 1.3rem;}
.am-g{ background: #ffffff; color: #455576; font-size: 1.5rem; padding: 0 2%;}
 .am-header-default{ height: 56px; line-height:56px;}
  body, button, input, select, textarea{color: #455576; font-size: 1.4rem;}
  .am-slider-default .am-control-nav{ display: none;}
  .am-direction-nav{ display: none;}
  [class*=am-u-]{ padding-left: 10px;}
	
	.slick-slide img{  }
	.investmentdetails .con_3, .find .con_3{ margin-top: 11px;}
	.am-navbar-default .am-navbar-nav{ background: #f6f6f6; border-top:#ebebeb solid 1px;}
	.am-navbar-default .am-navbar-nav a{ color: #67728b;}	

.con{ height: 170px; overflow: hidden;}
.con .div_00{ width:100%;  height: 160px; overflow: hidden;}
.con .div_00 img{ width: 100%; margin: 0 auto;  height: 100%;}
</style>
</head>
<body>
	     <div style="height: 15px; position: fixed; width: 100%; top: 0; left: 0; background: red; z-index: 999;"></div>
	     <div class="xg_wap" style="margin-top: 15px;">
       <header data-am-widget="header"
          class="am-header am-header-default am-margin-0">
      <div class="am-header-left am-header-nav" >
          <a href="#left-link" class="">

                <i class="am-header-icon am-icon-angle-left" style="font-size: 28px;"></i>
          </a>
      </div>

      <h1 class="am-header-title" style="height: 56px; line-height: 56px; font-family: '微软雅黑';">
          <a href="#title-link" class="">
            发现
          </a>
      </h1>

      <div class="am-header-right am-header-nav">
        
      </div>
  </header>
  </div>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-margin-0 am-padding-0" />
    <div class="find">
				    	   <div class="con_1">
				    	   	    <div class="am-g am-margin-0 am-padding-0" style="">
													  <div class="am-u-sm-4 am-padding-0 am-margin-0"><a href="#"><em class=" e_1"></em></a><span>我要借款</span></div>
													  <div class="am-u-sm-4 am-padding-0 am-margin-0"><a href="#"><em class=" e_2"></em></a><span>帮助中心</span></div>
													  <div class="am-u-sm-4 am-padding-0 am-margin-0"><a href="#"><em class=" e_3"></em></a><span>平台公告</span></div>
				              </div>
				    	   </div>
				    	   <div class="con_2">
								    	   	    <h4 style="font-family: '微软雅黑';"><em class="icon iconfont icon-z-gift" style="margin-top:-7px; display: inline-block; vertical-align:middle;"></em>奖励活动</h4>
								    	   	    <div class="con">
								    	   	    	
																			    	   	    	  <!--zhushi-->
																			    	   	    	  
																			    	   	    	  <section id="features" class="blue">
			<div class="content">
<style>

</style>
			
				<div class="slider center">
					<!--<img style="width: 100%;" src="assets/i/images/banner_1.jpg">-->
				
				<div class="div_00"><h3 class="am-padding-0"><img src="assets/i/images/20170118105946_158.jpg"></h3></div>
					<div class="div_00"><h3 class="am-padding-0"><img src="assets/i/images/20170109170147_427.jpg"></h3></div>
					<div class="div_00"><h3 class="am-padding-0"><img src="assets/i/images/20170105182017_900.jpg"></h3></div>
					<div class="div_00"><h3 class="am-padding-0"><img src="assets/i/images/20170105181938_510.jpg"></h3></div>
					
					
				</div>
                </div>
                </section>
																			    	   	    	  <!--zhushi-->
				    	   </div>
				    	   
				    	   
				    	   <div class="con_3" style="padding-bottom: 80px;">
		 <ul class="am-padding-0 am-margin-0">
		 	<li style="font-family: '微软雅黑';"><em class="am-fl icon iconfont icon-76"></em>关于公司<span class="am-fr icon iconfont icon-iconfontjiantou5"></span></li>
		 	<li><em class="am-fl icon iconfont icon-anquanbaozhang"></em>安全保障<span class="am-fr icon iconfont icon-iconfontjiantou5"></span></li>
		 	<li><em class="am-fl icon iconfont icon-dongtai"></em>百姓贷动态<span class="am-fr icon iconfont icon-iconfontjiantou5"></span></li>
		 	<li><em class="am-fl icon iconfont icon-xingxiangbaogao"></em>运营报告<a href="#"><span class="am-fr icon iconfont icon-iconfontjiantou5"></span></a></li>
		 </ul>
	</div>
				    	   
    </div>

 <!--底部工具栏-->
  <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4" >
           <li  class="li_1" >
            <a href="###"  >
                  <em class="e_1"></em>
                <span class="am-navbar-label">理财</span>
            </a>
          </li>
          <li  class="li_2" >
            <a href="###"  >
                  <em class="e_2"></em>
                <span class="am-navbar-label">理财</span>
            </a>
          </li>
          <li class="li_3"  >
            <a href="#" class="text-yellow">
                  <em class="e_33"></em>
                <span class="am-navbar-label">发现</span>
            </a>
          </li>
           <li  class="li_4">
            <a href="#" >
                  <em class="e_4"></em>
                <span class="am-navbar-label">我的</span>
            </a>
          </li>
      </ul>
  </div>
  
  <script src="js/jquery.js"></script>
   <script type="text/javascript" src="assets/js/jquery.js"></script>
		<script type="text/javascript" src="assets/slick/slick.js"></script>
		<script type="text/javascript" src="assets/js/scripts.js"></script>
</body>
</html>
