<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>百姓贷</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="https://cgtzfiles.b0.upaiyun.com/style3/css/newMember20160309.css?v=1467105333" />
  <link rel="stylesheet" type="text/css" href="https://cgtzfiles.b0.upaiyun.com/style3/css/newMember20160309.css?v=1467105333" />
  <!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/echarts.min.js"></script>
<script src="assets/js/popup.js"></script>
<style>
	body{ color:#ffffff; background: #ffffff;}
	.am-header-default{ background: #ffffff;}
 .am-header-default .am-header-title a{ color:#455576;}
 .am-header-default .am-header-icon{ color: #455576;}
 .am-list-static.am-list-border>li{ padding:0.5rem;}
 a{ color: #455576;}
 .am-list>li{ padding: 0 5%; border: none; border-bottom:1px solid #ebebeb; }
 .am-divider-default{}
 .am-list>li>a{ display: inline-block;}
 .am-header .am-header-left{left: 0; left: 6%;}
 .am-list>li{ padding: 0 6%;}
</style>
</head>
<body>
       <header data-am-widget="header"
          class="am-header am-header-default am-margin-0">
      <div class="am-header-left am-header-nav">
          <a href="#left-link" class="">

                <i class="am-header-icon am-icon-angle-left" style="font-size: 28px;"></i>
          </a>
      </div>

      <h1 class="am-header-title">
          <a href="#title-link" class="">
            积分商城
          </a>
      </h1>

      <div class="am-header-right am-header-nav">
           <a href="#right-link" class="">

                兑换记录
          </a>
      </div>
  </header>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-margin-0 am-padding-0" />

  <div class="integralmall">
  	   <div class="tit" style="position:relative;"><div style="position: absolute; left: 6%; top: 0;"><em class="con iconfont icon-z-gift"></em></div>iPhone 7 Plus 32GB 玫瑰金色</div>
  	   <div class="con">
  	   	    <img src="assets/i/images/pic30.jpg">
  	   	    <p><strong>2351</strong>积分</p>
  	   	    <p><strong style="font-weight: normal; font-size: 1.4rem;">价格</strong>RMB 7,188</p>
  	   </div>
  	   <div class="tit am-margin-top-lg" style="border-top:#d8d8d8 solid 1px"><em class="con iconfont icon-youjiantou"></em><span>商品详情</span></div>
  	   <div class="con">
  	   	    <img src="assets/i/images/pic30.jpg">
  	   	    <p class="am-text-left am-margin-0 am-padding-0 am-padding-top-sm" style="font-size:1.6rem; line-height: 32px;">注：以上为兑换奖品展示图片，与实际到手的奖品可能存在差别</p>
  	   </div>
  </div>
  <div class="recharge">
        <div class="div_4 " style=" margin: 1.8em 0 2em;">
		       <button  id="BTN"  class="am-btn am-btn-default am-btn-lg">确认兑换</button>
		</div>
 </div>
 <div class="gybj">
	   <div class="bk am-padding-lg">
	   	    
	   	    <div class="tit am-text-center am-padding-bottom-sm">
	   	    	   请输入收货人信息<em class=" am-fr iconfont icon-cuohao"></em>
	   	    </div>
	        <input type="text" placeholder="请输入收货人姓名" />
	        <input type="text" placeholder="请输入联系方式" />
	        <input type="text" placeholder="请输入收获地址" />
		      <button id="BTN_2" class="am-btn am-btn-default am-btn-lg">确认兑换</button>
	   </div>
</div>
</body>
</html>
