<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>百姓贷</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
   <link rel="stylesheet" href="assets/font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="https://cgtzfiles.b0.upaiyun.com/style3/css/newMember20160309.css?v=1467105333" />
  <!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/echarts.min.js"></script>
<style>
	body{ color:#ffffff; background: #e55e46;}

</style>
</head>
<body>
     <div class="landingpage">
     	  <img src="assets/i/images/pic_01.jpg">
     	  <img src="assets/i/images/pic_02.jpg">
     	  <div class="div_5">
     	  <img src="assets/i/images/pic_03.jpg">
     	 <!-- <img style="width:60%; position: absolute; top: 15%; left: 28%;" src="assets/i/images/pic93.jpg">-->
     	  <div class="text">
     	  	    	<p style="margin-top: -9px;"><strong style="font-weight: normal; color: #ffffff; font-size: 1.2rem;  display:block; top:17px; left: 0; text-indent:18%; position: absolute; width: 100%; text-align: center;">活动时间：2017年1月16号-2月15号</strong><span></span>标的加息1% &nbsp;&nbsp;<span></span>投资返现3%</p>
     	  	    	<em style="color: #ffffff;"></em>
     	  	    	
     	  	    </div>
     	  	</div>
     	   <div class="div_6">
     	  <img src="assets/i/images/pic_04.jpg">
     	  <div class="text">
     	  	     <ul>
     	  	     	   <li>
     	  	     	   	   <h6>活动一：</h6>
     	  	     	   	   <p>标的加息1%</p>
     	  	     	   </li>
     	  	     	   <li>
     	  	     	   	   <h6>活动二：</h6>
     	  	     	   	   <p>投资返现3%</p>
     	  	     	   </li>
     	  	     </ul>
     	  	    </div>
     	  	</div>
     	  <div class="div_4">
     	  <img src="assets/i/images/pic_05.jpg">
     	  <div class="text">
     	  	    	<p>恭迎新春，加息送不停</p>
     	  	    </div>
     	  	</div>
     	  	
     	  <div class="div_2">
     	  	    <img src="assets/i/images/pic_06.jpg">
     	  	    <div class="text">
     	  	    	<h3>在活动期间，所有标的加息1%</h3>
     	  	    </div>
     	  </div>
     	 
     	  <div class="div_1">
     	  	    <img src="assets/i/images/pic_07.jpg">
     	  	    <div class="text">
     	  	    	<p>*注意：<strong>体验标</strong>、<strong>新手标</strong>和<strong>天标</strong>不参与活动。</p>
     	  	    </div>
     	  </div>
     	 <div class="div_3">
     	  <img src="assets/i/images/pic_08.jpg">
     	  <div class="text">
     	  	    	<p>恭贺新禧，投资送返利</p>
     	  	    </div>
     	  	</div>
     	  	
     	  	<div class="div_0">
     	  		 <img style="height: 250px;" src="assets/i/images/pic_12.jpg">
     	  		 <div class="text">
     	  		 	  <h4>在活动期间，投资最高返利3%</h4>
     	  		 	  <p><span>A、</span>一月标、新手标、信用标返利投资本金的0.5%，投资满标复审后，直接返现至账户可用余额。</p>
     	  		 	  <p><span>B、</span>三月标返利投资本金的1.5%，投资满标复审后，直接返现至账户可用额。
</p>
     	  		 	 
     	  		 	  <p><span>C、</span>六月标返利投资本金的3%，投资满标复审后，直接返现至账户可用余额。</p>
     	  		 	 
     	  		 	  <p>*注意：体验标和天标不参与活动。</p>
     	  		 </div>
     	  	</div>
     	  
     </div>  
</body>
</html>
