<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>百姓贷</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
   <link rel="stylesheet" href="assets/font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="https://cgtzfiles.b0.upaiyun.com/style3/css/newMember20160309.css?v=1467105333" />
  <!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/echarts.min.js"></script>
<style>
	body{ color:#ffffff; background: #ffffff;}
	.am-header-default{ background: #ffffff;}
 .am-header-default .am-header-title a{ color:#455576;}
 .am-header-default .am-header-icon{ color: #455576;}
.am-header-default .am-header-nav>a{ color: #455576; font-size: 1.3rem;}
.am-g{ background: #ffffff; color: #455576; font-size: 1.5rem; padding: 0 2%;}
 .am-header-default{ height: 56px; line-height:56px;}
  body, button, input, select, textarea{color: #455576; font-size: 1.4rem;}
  address, blockquote, dl, fieldset, figure, hr, ol, p, pre, ul{ margin: 0; padding: 0;}
</style>
</head>
<body>
       <header data-am-widget="header"
          class="am-header am-header-default am-margin-0">
      <div class="am-header-left am-header-nav">
          <a href="#left-link" class="">

                <i class="am-header-icon am-icon-angle-left" style="font-size: 28px;"></i>
          </a>
      </div>

      <h1 class="am-header-title">
          <a href="#title-link" class="">
            新手标简介
          </a>
      </h1>

      <div class="am-header-right am-header-nav">
        
      </div>
  </header>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-margin-0 am-padding-0" />
   <div class="novicestandard">
   	    <h3>体验标</h3>
   	    <div class="con">
   	    	<p><em class="icon iconfont icon-point-copy " style=" color: #9999cc;"></em>百姓贷送新注册用户1万元体验金，让用户体验投资过程。</p>
   	    	<p><em class="icon iconfont icon-point-copy " style=" color: #9999cc;"></em>投资后，体验金收回，但用户可享有体验金产生的利息（可提现或继续投资）。</p>
   	    	<p><em class="icon iconfont icon-point-copy " style=" color: #9999cc;"></em>注意：体验金仅有1个月的期限，每日总金额也有限，大家要抓紧抢标哦！</p>
   	    </div>
   	    <h3 style="background:url(assets/i/images/pic67.png) no-repeat center; background-size:100%; height: 70px; margin-top:29px;">新手标</h3>
   	    <div class="con">
   	    	<p><em class="icon iconfont icon-point-copy" style="color: #9acc99;"></em>新手标由百姓贷特别推出给首次投标的投资者，让投资者享受更多的收益。</p>
   	    	<p><em class="icon iconfont icon-point-copy" style="color: #9acc99;"></em>新手标类型为信用标或抵押标。</p>
   	    	<p><em class="icon iconfont icon-point-copy" style="color: #9acc99;"></em>注意：只有未进行投资（不包括体验标）的新用户才可以投资，仅限一次。</p>
   	    </div>
   </div>
</body>
</html>
