<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>百姓贷</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileColor" content="#0e90d2">
  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
   <link rel="stylesheet" href="assets/font/iconfont.css">
  <link rel="stylesheet" type="text/css" href="https://cgtzfiles.b0.upaiyun.com/style3/css/newMember20160309.css?v=1467105333" />
  <!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<!--<script src="assets/js/echarts.min.js"></script>-->
<style>
	body{ background: #ffffff; }
	.am-header-default{ background: #ffffff;}
 .am-header-default .am-header-title a{ color:#455576;}
 .am-header-default .am-header-icon{ color: #455576;}
.am-header-default .am-header-nav>a{ color: #455576; font-size: 1.3rem;}
.am-g{ background: #ffffff; color: #455576; font-size: 1.5rem; padding: 0 2%;}
 .am-header-default{ height: 56px; line-height:56px;}
  body, button, input, select, textarea{color: #455576; font-size: 1.4rem;}
  .securityguarantee .con_5 li p{ font-size: 1.2rem;}
 
  .am-slider .am-slides img{ border: #7a7ab6 solid 9px; height: 190px;}
</style>
</head>

	<style>
	.container{ position: relative; margin-bottom: 20px;}
#triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #ead98b; position: absolute; bottom: -8px; left: 43%;
}


.con_xg_n li p{ border: none; height: 30px; line-height: 30px;}

.con_xg_n li  p i {
    width: 21px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    background:url(assets/i/images/pic74.png) no-repeat center;
    background-size: 75%;
    margin-right: 3px; margin-top: -5px;
   
}
.securityguarantee .con_xg .con_xg_n{ background:none;}
.am-slider-b1{-webkit-box-shadow:none; box-shadow:none;}
</style>

       <header data-am-widget="header"
          class="am-header am-header-default am-margin-0">
      <div class="am-header-left am-header-nav">
          <a href="#left-link" class="">

                <i class="am-header-icon am-icon-angle-left" style="font-size: 28px;"></i>
          </a>
      </div>

      <h1 class="am-header-title">
          <a href="#title-link" class="">
            安全保障
          </a>
      </h1>

      <div class="am-header-right am-header-nav">
        
      </div>
  </header>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-margin-0 am-padding-0" />
<div class="securityguarantee">
	 <div class="con">
	 	  <img src="assets/i/images/pic36.jpg"> 
	 </div>
	 <div class="con_0">
				<div class="con">
					<img  src="assets/i/images/pic72.jpg"> 
				</div>
				<div class="con">
					<img src="assets/i/images/pic73.jpg" style="height: 110px;"> 
					   <div class="con_n">
					<h3>风险保证金，为您的资金保驾护航</h3>
					 <p>什么是风险保证金？</p>
<p>当借款人逾期还款时，百姓贷将启用风险保证金先行垫付给您，最大限度保护您的利益。</p>
				</div>
				</div>
	</div>
	<div class="con_xg" >
		<div class="con">
					<img style="height: 220px;" src="assets/i/images/pic38.jpg"> 
				</div>
				<div class="con_xg_n">
					     <div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{"controlNav":false}' >
  <ul class="am-slides">
      <li>
        	<img src="assets/i/images/pic79.jpg">
         <p class="am-padding-0 am-margin-0 am-text-center"><i></i>555555</p>
      </li>
      <li>
        	<img src="assets/i/images/pic79.jpg">
         <p class="am-padding-0 am-margin-0 am-text-center"><i></i>dddd</p>
      </li>
      <li>
        	<img src="assets/i/images/pic79.jpg">
         <p class="am-padding-0 am-margin-0 am-text-center"><i></i>eeeee</p>
      </li>
      <li>
        	<img src="assets/i/images/pic79.jpg">
         <p class="am-padding-0 am-margin-0 am-text-center"><i></i>vvvv</p>
      </li>
  </ul>
</div>

				</div>
	</div>
<!--<div class="con_3">
			<div class="con" >
				<img  src="assets/i/images/pic39.jpg"> 
			</div>
			<h5><i></i>风险保证金账户存款证明</h5>
	</div>-->
	<div class="con">
		<img src="assets/i/images/pic40.jpg"> 
	</div>
	<div class="con">
		<img src="assets/i/images/pic41.jpg"> 
	</div>
	<div class="con">
		<img src="assets/i/images/pic42.jpg"> 
	</div>
	<div class="con_3">
			<div class="con" >
				<img style="height: 145px;" src="assets/i/images/pic43.jpg"> 
			</div>
			<p>品牌标战略合作借款企业湖北北汽4S店，全国销量前五，已有9家门店，库存价值超2000万，更有实时监控库存，敬请期待，保障还款能力。
信用标目前只有上海与宁波本地人的借款，严格把控。</p>
	</div>
	<div class="con_6">
		<div class="con"><img src="assets/i/images/pic60.jpg"></div>
		<div class="con_n">
			<input type="button" value="严格风控" />
		</div>
	</div>
	<div class="con_7">
		<div class="con"><img style="height: 350px;" src="assets/i/images/pic61.jpg"></div>
		<div class="con_n" style="background:#ffffff url(assets/i/images/safebg.png) no-repeat 0 2%; background-size:100% 330px;">
			<ul id="management" class="am-cf">	
            	<li>  
                <div data-trans ='' class="container am-fl li_1" >
                	<div id="triangle-down"></div>
                	
                    <div class="flip">
                        <div class="front" >	
                        	   <em class="e_1"></em>
                        	   <p>①提交借款信息</p>
                        	   <p><a href="javascript:void(0);">点击查看详情</a></p>
                        </div>
                        <div class="back" >	
                        	<p>提供基本信息</p>
                        	<p>信用认证信息 </p>
                        	<p>还款能力信息</p>
                        </div>
                    </div>
                </div>       
                </li>
                <li>   
                <div data-trans ='' class="container am-fr li_1">
                    <div id="triangle-down"></div>
                    <div class="flip">
                        <div class="front" >	
                        	   <em class="e_2"></em>
                        	   <p>②风控审核</p>
                        	   <p><a href="javascript:void(0);">点击查看详情</a></p>
                        </div>
                        <div class="back" >	
                        	<p>风控团队初审</p>
                        	<p>团队实地考察  </p>
                        	<p>领导严格复审</p>
                        </div>
                    </div>
                </div>
                </li>  
                <li>  
                <div data-trans ='' class="container am-fl">
                  <div id="triangle-down"></div>
                    <div class="flip">
                        <div class="front" >	
                        	   <em class="e_4"></em>
                        	   <p>④还款追踪</p>
                        	   <p><a href="javascript:void(0);">点击查看详情</a></p>
                        </div>
                        <div class="back" >	
                        	<p>定期考察</p>
                        	<p>还款追踪 </p>
                        	<p>安全放心</p>
                        </div>
                    </div>
                </div>
                </li>
                <li>  
                <div data-trans ='' class="container am-fr">
                   <div id="triangle-down"></div>
                    <div class="flip">
                        <div class="front" >	
                        	   <em class="e_3"></em>
                        	   <p>③签订文件</p>
                        	   <p><a href="javascript:void(0);">点击查看详情</a></p>
                        </div>
                        <div class="back" >	
                        	<p>签订文件</p>
                        	<p>平台发标 </p>
                        	<p>满标放款</p>
                        </div>
                    </div>
                </div>
                </li>
                
            </ul>
		</div>
	</div>
    <script>
    $(function(){
	    $('#management').find('li').click(function(){
			
			if($(this).hasClass('on')){
				$(this).removeClass('on');
				$(this).find('.flip').css('transform','rotateY(0deg)');
			}else{
				$(this).addClass('on');
				$(this).find('.flip').css('transform','rotateY(180deg)');
				$(this).siblings().removeClass('on');
				$(this).siblings().find('.flip').css('transform','rotateY(0deg)');
			}		
		});
	});
    </script>
	<div class="con_1">
		<div class="con"><img style="height: 160px;" src="assets/i/images/pic44.jpg"> </div>
		<div class="con_n">
			<span>详尽披露信息</span>
			 <p style="padding:7px 0 0 10%" class="am-margin-0"><strong>对于投资人，我们不存在隐瞒。</strong></p>
			 <p style="padding:0 5% 0 10%; margin-top: 5px;"><strong>标的详情</strong>中详尽披露风控审核的全部信息、借款协议、
还款保障所有信息。</p>
		</div>
	</div>

		<div class="con"><img src="assets/i/images/pic45.jpg"> </div>
		<div class="con_3">
		     <div class="con"><img style="height: 310px;" src="assets/i/images/pic46.jpg"> </div>
		     <div class="con_n">
		     	  <ul>
		     	  	<li style="margin-bottom: 0;" class="am-fl">
		     	  		<em class="e_1"></em>
		     	  		<h4>安全信息传输</h4>
		     	  		<span>全程https传输，绿色地址栏， 保障信息安全</span>
		     	  	</li>
		     	  	<li style="margin-bottom: 0;" class="am-fr">
		     	  		<em class="e_2"></em>
		     	  		<h4>防钓鱼陷阱技术</h4>
		     	  		<span>从浏览器到服务器的访问保护和欺骗预防</span>
		     	  	</li>
		     	  	<li style="margin-bottom: 0;" class="am-fl">
		     	  		<em class="e_3"></em>
		     	  		<h4>数据信息加密传输</h4>
		     	  		<span>128位强制加密，最高支持256位加密，保护敏感信息</span>
		     	  	</li>
		     	  	<li class="am-fr">
		     	  		<em class="e_4"></em>
		     	  		<h4>安全信息传输</h4>
		     	  		<span>安全备份用户数据，数据永不丢失</span>
		     	  	</li>
		     	  </ul>
		     </div>
		</div>
		<div class="con"><img src="assets/i/images/pic47.jpg"> </div>


	<div class="con"><img src="assets/i/images/pic48.jpg"></div>
	<div class="con"><img src="assets/i/images/pic49.jpg"></div>
	<div class="con_5">
	     <div class="con"><img style="height: 240px;" src="assets/i/images/pic50.jpg"></div>
	     <div class="con_n">
	     	  <ul>
	     	  	  <li class="am-fl">
	     	  	  	<h4 style="margin: 10px 0 3px;"><a href="#"  onclick="javascript:return false;">身份验证</a></h4>
	     	  	  	<p>姓名和身份证<br>银行卡信息联网认证</p>
	     	  	  </li>
	     	  	  <li class="am-fr">
	     	  	  	<h4 style="margin: 10px 0 3px;"><a href="#"  onclick="javascript:return false;">同卡进出</a></h4>
	     	  	  	<p>只能绑一张银行卡<br>
用于充值与提现，<br>
防止盗用提现情况</p>
	     	  	  </li>
	     	  </ul>
	     </div>
	</div>
	<div class="con">
		<img src="assets/i/images/pic53.jpg"> 
	</div>
	<div class="con">
		<img src="assets/i/images/pic54.jpg"> 
	</div>
	<div class="con_4">
		<div class="con">
		<img style="height: 260px;" src="assets/i/images/pic55.jpg"> 
		<div class="con_n">
			<p>上海市罗顿律师事务所是隶属上海市浦东新区司法局的合伙制律师事务所，成立于1995。建立之始集结着一班精熟法律的优秀律师，并聘请相关专家担任顾问。 十多年来为政府机关、企事业单位、社会团体提供了大量法律服务。是一家以服务各类投资、担任企业法律顾问，办理各类诉讼为主要业务的综合性法律事务机构，还以金融、保险、房地产、建筑等法律服务为主要业务特色的法律事务机构。事务所自创办以来，本所为中国银行办理了近3000宗银行房屋贷款见证业务，是中国银行指定的10家律师事务所之一，并以高效优质的法律服务赢得好评。</p>
		</div>
	</div>
	</div>
</div>
</body>
</html>
