<link rel="stylesheet" href="__CSS__/index/index.css">
<header data-am-widget="header"  class="am-header am-header-default">
    <h1 class="am-header-title">
        <a href="javascript:;" class="">智友生活</a>
    </h1>
</header>
<nav data-am-widget="menu" class="am-menu  am-menu-dropdown1" data-am-menu-collapse>
    <a href="javascript: void(0)" class="am-menu-toggle">
        <i class="am-menu-toggle-icon am-icon-list"></i>
    </a>
    <ul class="am-menu-nav am-avg-sm-1 am-collapse">
        <li class="am-parent">
            <a href="##" class="" >智友漫画</a>
            <ul class="am-menu-sub am-collapse  am-avg-sm-2 ">
                <li class="">
                    <a href="#" class="" >内涵漫画</a>
                </li>
                <li class="">
                    <a href="##" class="" >恐怖漫画</a>
                </li>
                <li class="">
                    <a href="##" class="" >故事漫画</a>
                </li>
                <li class="am-menu-nav-channel">
                    <a href="##" class="">插画</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="##" class="" >创业人物</a>
        </li>
    </ul>
</nav>

<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}' >
    <ul class="am-slides">
        <li><A href="{:U('manhua/heibai')}"><img src="__IMG__/index/kongbu.jpg"></A></li>
        <li><A href="{:U('xiuxian/story')}"><img src="__IMG__/index/guigushi.jpg"></A></li>
    </ul>
</div>

<div class="am-cf indexNav am-footer-default" >
    <ul class="am-navbar-nav am-cf am-avg-sm-4 am-text-center">
        <li>
            <a href="{:U('manhua/index')}" class="">
                <span class="icon am-icon-github"></span>
                <span class="text am-navbar-label">智友漫画</span>
            </a>
        </li>
        <li>
            <a href="{:U('xiuxian/index')}" class="">
                <span class="icon am-icon-phone"></span>
                <span class="text am-navbar-label">休闲娱乐</span>
            </a>
        </li>

        <li>
            <a href="{:U('xiuxian/index')}" class="">
                <span class="icon am-icon-github"></span>
                <span class="text am-navbar-label">动态搞笑</span>
            </a>
        </li>
        <li >
            <a href="{:U('search/word')}" class="">
                <span class="icon am-icon-github"></span>
                <span class="text am-navbar-label">智友知识</span>
            </a>
        </li>
        <li >
            <a href="{:U('test/qqevaluate')}" class="">
                <span class="icon am-icon-github"></span>
                <span class="text am-navbar-label">智友测试</span>
            </a>
        </li>
        <li >
            <a href="https://github.com/allmobilize/amazeui" class="">
                <span class="icon am-icon-github"></span>
                <span class="text am-navbar-label">恐怖漫画</span>
            </a>
        </li>
        <li >
            <a href="https://github.com/allmobilize/amazeui" class="">
                <span class="icon am-icon-github"></span>
                <span class="text am-navbar-label">故事漫画</span>
            </a>
        </li>
    </ul>
</div>

<div data-am-widget="list_news" class="am-list-news am-list-news-default am-margin-horizontal-0 am-padding-horizontal-sm am-footer-default" >
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="##" class="">
            <h2>栏目精选</h2>
            <span class="am-list-news-more am-fr">更多 &raquo;</span>
        </a>
    </div>
    <div class="am-list-news-bd">
        <ul class="am-list am-margin-bottom-0">
            <li class="am-g am-list-item-dated">
                <a href="##" class="am-list-item-hd ">我很囧，你保重....晒晒旅行中的那些囧！</a>
                <span class="am-list-date">2013-09-18</span>
            </li>
            <li class="am-g am-list-item-dated">
                <a href="##" class="am-list-item-hd ">我最喜欢的一张画</a>
                <span class="am-list-date">2013-10-14</span>
            </li>
            <li class="am-g am-list-item-dated">
                <a href="##" class="am-list-item-hd ">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                <span class="am-list-date">2013-11-18</span>
            </li>
        </ul>
    </div>

</div>

<div data-am-widget="list_news" class="am-list-news am-list-news-default am-margin-0 am-padding-horizontal-sm am-footer-default">
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="###" class="">
            <h2>最新漫画</h2>
            <span class="am-list-news-more am-fr">更多 &raquo;</span>
        </a>
    </div>

    <div class="am-list-news-bd">
        <ul class="am-list  am-margin-bottom-0">



            <!--缩略图在标题左边-->
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                <div class="am-u-sm-4 am-list-thumb">
                    <a href="http://www.douban.com/online/11614662/" class="">
                        <img src="http://img5.douban.com/lpic/o636459.jpg" alt="我很囧，你保重....晒晒旅行中的那些囧！"/>
                    </a>
                </div>

                <div class=" am-u-sm-8 am-list-main">
                    <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11614662/" class="">我很囧，你保重....晒晒旅行中的那些囧！</a></h3>

                    <div class="am-list-item-text">囧人囧事囧照，人在囧途，越囧越萌。标记《带你出发，陪我回家》http://book.douban.com/subject/25711202/为“想读”“在读”或“读过”，有机会获得此书本活动进行3个月，每月送出三本书。会有不定期bonus！</div>

                </div>
            </li>
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                <div class="am-u-sm-4 am-list-thumb">
                    <a href="http://www.douban.com/online/11624755/" class="">
                        <img src="http://img3.douban.com/lpic/o637240.jpg" alt="我最喜欢的一张画"/>
                    </a>
                </div>

                <div class=" am-u-sm-8 am-list-main">
                    <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11624755/" class="">我最喜欢的一张画</a></h3>

                    <div class="am-list-item-text">你最喜欢的艺术作品，告诉大家它们的------名图画，色彩，交织，撞色，线条雕塑装置当代古代现代作品的照片美我最喜欢的画群296795413进群发画，少说多发图，</div>

                </div>
            </li>
            <li class="am-g am-list-item-desced">

                <div class=" am-list-main">
                    <h3 class="am-list-item-hd"><a href="http://www.douban.com/online/11645411/" class="">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a></h3>

                    <div class="am-list-item-text">还在苦恼圣诞礼物再也玩儿不出新意？快来抢2013最炫彩的跨国圣诞礼物！【参与方式】1.关注“UniqueWay无二之旅”豆瓣品牌小站http://brand.douban.com/uniqueway/2.上传一张**本人**在旅行中色彩最浓郁、最丰富的照片（色彩包含取景地、周边事物、服装饰品、女生彩妆等等，发挥你们无穷的创意想象力哦！^^）一定要有本人出现喔！3. 在照片下方，附上一句旅行宣言作为照片说明。 成功参与活动！* 听他们刚才说，上传照片的次</div>

                </div>
            </li>


        </ul>
    </div>

</div>
<!--<style>-->

<!--</style>-->