<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
	<meta name="keywords" content="{$SEO['keyword']}">
	<meta name="description" content="{$SEO['description']}">
    <link rel="icon" type="image/png" href="/touyun/statics/touyun/assets/i/favicon.png">
  
    <!--公用的样式和js-->
    <link rel="stylesheet" href="/touyun/statics/touyun/amaze/css/amazeui.min.css">
    <link rel="stylesheet" href="/touyun/statics/touyun/css/common/app.css">
    <script src="/touyun/statics/touyun/js/common/jquery-1.11.2.min.js"></script>
    <script src="/touyun/statics/touyun/amaze/js/amazeui.min.js"></script>
    <script src="/touyun/statics/touyun/js/layer/layer.js"></script>
    <script src="/touyun/statics/touyun/js/common/app.js"></script>
    <!--公用的over-->
</head>
<body>
<!--首页专用的js，css-->
<link rel="stylesheet" href="/touyun/statics/touyun/css/index/index.css">
<script src="/touyun/statics/touyun/js/common/industry.js"></script>
<script src="/touyun/statics/touyun/js/index/distpicker.data.js"></script>
<script src="/touyun/statics/touyun/js/index/distpicker.js"></script>
<script src="/touyun/statics/touyun/js/index/index.js"></script>

{template "content","tyheader"}


<div style="height:0px;"></div>
<!--头部完，banner部分开始-->
<div class="banner-container ">
    <div class="banner-container-center">
        <div class="container">
            <div class="lonin-box">
                <h1>马上注册，<span>免费</span>体验</h1>
                 <form class="login-form" id="register_form">
                     <div class="form-group">
                         <span>姓名</span>
                         <input type="text" name="name" placeholder="" value="">
                     </div>
                     <div class="form-group">
                         <span>公司</span>
                         <input type="text" name="company" placeholder="" value="">
                     </div>
                     <div class="form-group">
                         <span>职位</span>
                         <input type="text" name="position" placeholder="" value="">
                     </div>
                     <div class="form-group">
                         <span>手机</span>
                         <input type="text" name="mobile" placeholder="" value="">
                     </div>
                     <div class="form-group">
                         <span>邮箱</span>
                         <input type="text" name="mail" placeholder="" value="">
                     </div>
                     <div class="form-group">
                         <span>行业</span>
                         <select class="hangye" name="hangye_big" id="industryBig">
                             <option>11111</option>
                         </select>
                         <select class="hangye" name="hangye_small" id="industrySmall">
                             <option>2</option>
                         </select>
                     </div>
                     <div class="form-group">
                         <span>区域</span>
                         <div id="distpicker5">
                             <select name="province" class="form-control" id="province10"></select>
                             <select name="city" class="form-control" id="city10"></select>
                             <select name="district" class="form-control" id="district10"></select>
                         </div>
                     </div>
                     <div class="submit-btn">
                         <input id="submit_btn" type="submit" class="am-btn am-g am-radius" value="免费体验">
                     </div>

                 </form>
             </div>
            <div class="thedata">
                <img class="bgimg" src="/touyun/statics/touyun/images/index/bannerbg.png"/>
                <ul class="am-avg-sm-3 am-thumbnails">
                    <li>
                        <p>已赋</p>
                        <h2 id="rollNum1">4331</h2>
                        <p>二维码</p>
                    </li>
                    <li>
                        <p>已发</p>
                        <h2 id="rollNum2">99862</h2>
                        <p>红包金额</p>
                    </li>
                    <li>
                        <p>已服务</p>
                        <h2 id="rollNum3">3451</h2>
                        <p>客户</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div data-am-widget="slider" class="am-slider am-slider-a1"
     data-am-slider='{"directionNav":false,animation: "fade", }'>
    <ul class="am-slides">
      		{pc:content  action="lists" catid=31 order="listorder DESC" num="4"}

 {loop $data $key $val}

 <li> <A href="{$val['url']}"> <img src="{$val['thumb']}"></A></li>
 {/loop}

 {/pc}
    </ul>
</div>

<!--banner完 ， 一物一码开始-->
<div class="alone-code">
    <div class="alone-code-title"></div>
    <div class="container">
        <h2 class="am-center">
            一物一码解决方案
        </h2>
        <ul class="am-avg-sm-4 am-thumbnails code-list">
		
			{pc:content  action="lists" catid=33 order="listorder aSC" num="4" moreinfo=1}
{php $j=0;}
 {loop $data $key $val}
  {php $j++;}
   
 <li> 
 <style>
 .c{$j}{ background: url("{$val['jttp']}") no-repeat top center; background-size: 100% 100%;}
 .c{$j}:hover{background: url("{$val['dtimage']}") no-repeat top center; background-size: 100% 100%;}
 </style>
 <div class="img c{$j}"  ></div>
                <h3>{$val['title']}</h3>
                <p>{$val['content']}	</p>
 
 </li>
 {/loop}

 {/pc}
		
		
        <!--     <li>
                <div class="img case1"></div>
                <h3>扫码营销</h3>
                <p>提供营销管理工具和数据洞察系统，帮助品牌轻松部署营销活动。</p>
            </li>
            <li>
                <div class="img case2"></div>
                <h3>产品溯源</h3>
                <p>帮助品牌进行分销商管理，通过促销、返利等完善供应链中的缺失部分。</p>
            </li>
            <li>
                <div class="img case3"></div>
                <h3>防窜督查</h3>
                <p>帮助企业实现货物跟踪和窜货分析、预警。</p>
            </li>
            <li>
                <div class="img case4"></div>
                <h3>分销管理</h3>
                <p>基于物联网技术打造的开放、共享的溯源信息平台</p>
            </li> -->
        </ul>
    </div>
</div>

<!--视频介绍部分-->
<div class="video-introduce">
    <h1 class="am-text-center" style="color:#0d5899">众店宝，百万小店的制胜法宝</h1>
    <div class="video">
        <!--  <img src="/touyun/statics/touyun/images/index/vedioimg.jpg"> -->
		 <video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" width="1001" height="560"
		  poster="/touyun/statics/touyun/images/index/vedioimg.jpg" data-setup="{}">
			<source src="/touyun/statics/touyun/mp4/tykj.mp4" type="video/mp4">
			
		  </video>
    </div>
</div>

<!--注册按钮-->
<div class="register-box">
     <div class="container am-text-center">
         <p>马上注册，免费体验个性化营销工具！</p>
         <a href="JavaScript:;" onclick="return backTop();">马上注册 ></a>
     </div>
</div>

<!--客户服务-->
<div class="customer-service">
    <div class="customer-container">
        <h2 class="am-center" style="color:#0D5899">
            服务客户
        </h2>

        <ul class="customer-list am-cf">
		{pc:content  action="lists"  catid="24"  thumb=1 order="id DESC" num="20"} 
		{loop $data $key $val} 
		<li><a href="{$val['url']}"><img src="{$val['thumb']}"></a></li>
		{/loop}
		{/pc}
            <!--<li><img src="/touyun/statics/touyun/images/index/customer1.png"> </li>
            <li><img src="/touyun/statics/touyun/images/index/customer2.png"> </li>
            <li><img src="/touyun/statics/touyun/images/index/customer3.png"> </li>
            <li><img src="/touyun/statics/touyun/images/index/customer4.png"> </li>
            <li><img src="/touyun/statics/touyun/images/index/customer5.png"> </li>
            <li><img src="/touyun/statics/touyun/images/index/customer6.png"> </li>
            <li><img src="/touyun/statics/touyun/images/index/customer7.png"> </li>
            <li><img src="/touyun/statics/touyun/images/index/customer8.png"> </li>
            <li><img src="/touyun/statics/touyun/images/index/customer9.png"> </li>
            <li><img src="/touyun/statics/touyun/images/index/customer10.png"> </li>
            <li><img src="/touyun/statics/touyun/images/index/customer11.png"> </li>
            <li><img src="/touyun/statics/touyun/images/index/customer12.png"> </li>-->
        </ul>
    </div>
</div>

<div class="newest-dynamic">
    <div class="dynamic-center">
        <h2 class="am-center" style="color:#0D5899">最新动态</h2>
        <div class="dynamic-warp am-cf">
            <ul data-am-widget="gallery" class="img am-gallery am-avg-sm-2 am-gallery-default am-fl" data-am-gallery="{ pureview: true }" >
              {pc:content  action="lists"  catid="35"  thumb=1 order="id DESC" num="2"}

 {loop $data $key $val}

  <li style="padding-right: 10px;">
                    <div class="am-gallery-item">
                        <img src="{$val['thumb']}"/>

                    </div>
      <h3><a href="{$val['url']}">{$val['title']}</a></h3>
                </li>
 
 
 
 {/loop}

 {/pc}

				
			 <!--  <li style="padding-right: 10px;">
                    <div class="am-gallery-item">
                        <img src="images/index/new1.jpg"/>
                        <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
                    </div>
                </li>
                <li style="padding-left: 10px;">
                    <div class="am-gallery-item">
                        <img src="images/index/new1.jpg"/>
                        <h3 class="am-gallery-title">某天 也许会相遇 相遇在这个好地方</h3>
                    </div>
                </li> -->
            </ul>
            <div class="am-fr news-list">
                <ul class="am-gallery">
				
				 {pc:content  action="lists"  catid="7" order="listorder DESC" num="4"}

 {loop $data $key $val}

  <li>
                        <div class="time">
                           {date('Y-m-d',$val[inputtime])}
                        </div>
                        <div class="text"><a href="{$val['url']}" tagert="_blank">{$val['title']}</a></div>
                    </li>
 
 
 
 {/loop}

 {/pc}
                    <!-- <li>
                        <div class="time">
                            2018.01.03
                        </div>
                        <div class="text">引领全球【一物一码】食用香精香料创新营销第二行布拉见附件附件</div>
                    </li>
                    <li>
                        <div class="time">
                            2018.01.03
                        </div>
                        <div class="text">引领全球【一物一码】食用香精香料创新营销第二行布拉见附件附件</div>
                    </li>
                    <li>
                        <div class="time">
                            2018.01.03
                        </div>
                        <div class="text">引领全球【一物一码】食用香精香料创新营销第二行布拉见附件附件</div>
                    </li>
                    <li>
                        <div class="time">
                            2018.01.03
                        </div>
                        <div class="text">引领全球【一物一码】食用香精香料创新营销第二行布拉见附件附件</div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>

<!--注册按钮-->
<div class="register-box">
    <div class="container am-text-center">
        <p>马上注册，免费体验个性化营销工具！</p>
        <a href="JavaScript:;" onclick="return backTop();">马上注册 ></a>
    </div>
</div>

<div class="openHimself" id="openHimself" style="display: none">
    <img src="/touyun/statics/touyun/images/index/focusUs.jpg">
    <div class="close" onclick="return layer.closeAll()">
        <span class="am-icon-times"></span>
    </div>
</div>

<div class="registerSuccess" id="registerSuccess" style="display: none">
    <img src="images/index/tightIcon.jpg">
    <h5>你已成功注册</h5>
    <p>请及时查收免费体验的引导邮件</p>
    <div class="close" onclick="return layer.closeAll()">
        <span class="am-icon-times"></span>
    </div>
</div>

<!--右边的操作部分-->
<div class="aside-opation" id="asidePart">
    <ul class="asideList">
        <li class="case1">
            <p><a href="https://kfty.qiyukf.com/client?k=7f1fa085e2521a2e11719b1db362f71a&wp=1&gid=410038&robotShuntSwitch=0">在线<br>客服</a></p>
        </li>
        <li class="case2">
            <p>电话<br>热线</p>
            <div class="mobileCont">
                <div class="close">
                    <span class="am-icon-remove"></span>
                </div>
                <h4>联系我们</h4>
                <h5><span class="am-icon-phone"></span> 021-61820853</h5>
            </div>
        </li>
        <li class="case3">
            <p>扫码<br>关注</p>
            <div class="mobileCont">
                <div class="close">
                    <span class="am-icon-remove"></span>
                </div>
                <img src="/touyun/statics/touyun/images/index/wechatcode.png">
                <h3>透云官方微信</h3>
            </div>
        </li>
        <li class="case4">

        </li>
    </ul>
</div>

{template "content","tyend"}

</body>
</html>