<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{$SEO['description']}">
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title}</title>
    <link rel="icon" type="image/png" href="/touyun/statics/touyun/amaze/i/favicon.png">
    <!--公用的样式和js-->
    <link rel="stylesheet" href="/touyun/statics/touyun/amaze/css/amazeui.min.css">
    <link rel="stylesheet" href="/touyun/statics/touyun/css/common/app.css">
    <script src="/touyun/statics/touyun/js/common/jquery-1.11.2.min.js"></script>
    <script src="/touyun/statics/touyun/amaze/js/amazeui.min.js"></script>
    <script src="/touyun/statics/touyun/js/common/app.js"></script>
    <!--公用的over-->
</head>
<body>
<!--首页专用的js，css-->
<link rel="stylesheet" href="/touyun/statics/touyun/css/index/index.css">
{template "content","tyheader"}
<!--头部完-->
<div class="anliBanner">
    <img style="width: 100%;" class="am-img-responsive" src="/touyun/statics/touyun/images/shiming/smBanner.jpg">
</div>
 {$content}
<!-- <div style="background: #fff;">
    <div class="smContainer" style="height: 459px; background: url('/touyun/statics/touyun/images/shiming/smImg1.jpg') no-repeat top right;">
        <div class="smText" style="padding-right: 300px;">
            <h2 style="color:#0D5899">使命</h2>
            <p>我们的使命是：一物一码  万物互联</p>
            <p>作为“一物一码”应用的领导者，透云科技致力于通过为每一件商品赋予独一无二的二维码，并开发基于场景的有益应用。“一物一码”使商品成为品牌的自有媒介，帮助其传递信息、实时互动、记录行为、即时传播、高度共享以创造更高的商业价值。</p>
            <p>物物相连的物联网时代已经来临，智能手机将不再是唯一的关联登陆设备，智能穿戴等设备已可实现互联。二维码将彻底改变我们与世界交流的方式。作为连接世界的触点，二维码让一切事物连通到互联网，实现万物互联。</p>
        </div>
    </div>
</div>

<div style="background: #f2f2f3;">
    <div class="smContainer" style="height: 500px; background: url('/touyun/statics/touyun/images/shiming/smImg2.jpg') no-repeat top left;">
        <div class="smText" style="padding-left: 300px;">
            <h2 style="padding-top: 120px;color:#0D5899">愿景</h2>
            <p>我们的愿景是：成为世界领先的互联网科技公司</p>
            <p>  • &nbsp;&nbsp;	不断升级“一物一码”技术，引领和带动中国互联网技术的进步及发展。</p>
            <p>  • &nbsp;&nbsp;	将透云的理念、技术、产品和服务推进世界舞台，实现万物真正互联。</p>
            <p>  • &nbsp;&nbsp;	与行业伙伴共同成长，赢得行业尊敬。</p>
        </div>
    </div>
</div>


<div style="background: #fff;">
    <div class="smContainer">
        <div class="smText" style="padding-bottom: 100px;">
            <h2 style="color:#0D5899">核心价值观</h2>
            <p>我们的核心价值观是：创新、分享、高效、共赢；</p>
            <p>   创新是一种原则。是灵活变通、是革新；但不是抛弃，不是不切实际、无基础。</p>
            <p>   分享是一种机制。是合作互惠、是协助；但不是攫取，不是不劳而获、无成果。</p>
            <p>   高效是一种追求。是实事求是、是效率；但不是投机，不是天马行空、无执行。</p>
            <p>   共赢是一种结果。是资源共享、是双赢；但不是纵容，不是一团和气、无规则。</p>
        </div>
    </div>
</div>

<div  style="height: 600px; background: url('/touyun/statics/touyun/images/shiming/smImg3.jpg') no-repeat top center;">
    <div class="smContainer">
        <div class="smText" style="padding-left: 270px;">
            <h2 style="color:#0D5899">企业精神</h2>
            <p>我们的核心精神是：价值源于创造</p>
            <p>    我们认为，为社会创造财富，为地球创造美好环境，是企业和员工存在的价值所在。</p>
            <p>    价值是创造出来的，没有创造，价值就是无源之水、无本之木。企业效益的实现、社会的认同、未来的发展以及员工个人的成长和价值实现，都离不开创造。</p>
            <p>   企业的创造力是实现企业价值的源泉，而每位员工不断创造的动机和各具特色的创造能力，又是企业创造力的源泉。</p>
            <p>   我们鼓励员工的价值创造，并为员工的价值创造提供必要的条件。企业对员工价值认可的程度，取决于员工为企业创造业绩的多寡。</p>
            <p>   我们认为，员工的创造活动是通过工作来体现的。因此，我们每一位员工都应该尽职尽责、尽心尽力，并富有成效地工作，努力实现个人的人生价值。</p>
        </div>
    </div>
</div>

<div  style="height: 310px; background: url('/touyun/statics/touyun/images/shiming/smImg4.jpg') no-repeat top center;">
    <div class="smContainer">
        <div class="smText" style="padding-left: 100px;">
            <h2 style="padding-top: 120px;color:#0D5899">核心竞争力</h2>
            <p>我们的核心竞争力是：卓越的创新能力、优秀的企业文化、高效的组织团队。</p>
        </div>
    </div>
</div> -->

<!--右边的操作部分-->
<div class="aside-opation" id="asidePart">
    <ul class="asideList">
        <li class="case1">
            <p><a href="">在线<br>客服</a></p>
        </li>
        <li class="case2">
            <p>电话<br>热线</p>
            <div class="mobileCont">
                <div class="close">
                    <span class="am-icon-remove"></span>
                </div>
                <h4>联系我们</h4>
                <h5><span class="am-icon-phone"></span> 021-61820853</h5>
            </div>
        </li>
        <li class="case3">
            <p>扫码<br>关注</p>
            <div class="mobileCont">
                <div class="close">
                    <span class="am-icon-remove"></span>
                </div>
                <img src="/touyun/statics/touyun/images/index/wechatcode.png">
                <h3>透云官方微信</h3>
            </div>
        </li>
        <li class="case4">

        </li>
    </ul>
</div>

{template "content","tyend"}

</body>
</html>