<header data-am-widget="header"  class="am-header am-header-default" data-am-sticky>
    <div class="am-header-left am-header-nav">
        <a href="{:U('index/index')}" class="">
            <i class="am-header-icon am-icon-home"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a class="">智友漫画</a>
    </h1>
</header>
<a href="{:U('manhua/heibai')}" class="am-btn am-btn-default am-radius">恐怖漫画</a>
<a href="{:U('manhua/neihan')}" class="am-btn am-btn-default am-radius">内涵漫画</a>

<a href="{:U('manhua/gushi')}" class="am-btn am-btn-default am-radius">故事漫画</a>
<a href="{:U('manhua/chahua')}" class="am-btn am-btn-default am-radius">插画</a>