<?php
$seo = C('seo');
if(!empty($seo[CONTROLLER_NAME][ACTION_NAME])){
    // 配置文件填写SEO
    $pageseo = $seo[CONTROLLER_NAME][ACTION_NAME];
}else if(!empty($privateseo)){
    // 控制器赋值
    $pageseo = $privateseo;
}else{
    // 默认SEO
    $pageseo = $seo['Index']['index'];
}
?>
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{:$pageseo['description']}">
    <meta name="keywords" content="{:$pageseo['keywords']}">
    <meta name="baidu-site-verification" content="pl1Y39Cxm4" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>{:$pageseo['title']}</title>
    <meta name="renderer" content="webkit">
    <link href="__IMG__/common/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="__PLUGIN__/amazeui/css/amazeui.min.css">
    <link rel="stylesheet" href="__CSS__/common/app.css">
    <script src="http://push.zhanzhang.baidu.com/push.js"></script>
    <script src="__PLUGIN__/jquery-3.1.1.min.js"></script>
    <script src="__PLUGIN__/amazeui/js/amazeui.min.js"></script>
</head>
<body>
{__CONTENT__}
</body>
</html>