*{ margin:0; padding:0; list-style:none;}
/* �������?����֮�� www.lanrenzhijia.com */
#content{ width:98%; margin:0px auto; background:#ffffff;}
#imgbox-loading {position: absolute;top: 0;left: 0;	cursor: pointer;display: none;z-index: 90;}
#imgbox-loading div {background: #FFF;width: 100%;height : 100%;}
#imgbox-overlay {position: absolute;top: 0;	left: 0;width: 100%;height: 100%;background: #000;display: none;z-index: 80;}
.imgbox-wrap {position: absolute;top: 0;left: 0;display: none;	z-index: 90; overflow:hidden; padding:10px;}
.imgbox-img {padding: 0;margin: 0;border: none;width: 100%;	height: 100%;  margin-top:-0px;}
.imgbox-title {	padding-top: 10px;font-size: 11px;text-align: center;font-family: Arial;color: #333;display: none;}
.imgbox-bg-wrap {position: absolute;padding: 0;margin: 0;display: none;}
.imgbox-bg {position: absolute;width: 20px;	height: 20px;}
#content a.example2{}
#content li{ border: none;}
#content li .div_s img{ width: 100%; height: 120px; overflow: hidden; margin:2px auto 0; display:block;}
#content li{ width:98%; padding:0 1%; background:#ffffff; }
#content li .div_s{ width:48%; float:left; margin:0 0 0px 0; background:#ffffff;}

