<header data-am-widget="header"  class="am-header am-header-default" data-am-sticky>
    <div class="am-header-left am-header-nav">
        <a href="{:U('index/index')}" class="">
            <i class="am-header-icon am-icon-home"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link" class="">智友休闲</a>
    </h1>
</header>


<ul id="xiaohua_nav" class="am-avg-sm-2 boxes">
    <li class="box box-1"><a href="{:U('xiuxian/newest')}">最新笑话</a></li>
    <li class="box box-2"><a href="{:U('xiuxian/newestimages')}">最新趣图</a></li>
    <li class="box box-4"><a href="{:U('xiuxian/story')}">鬼故事</a></li>
</ul>
